<section class="section-about-us">
  <div class="container">
    <h2 class="about-title">about us</h2>
    <p class="about-text">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>
    <div class="wrap-list">
      <ol class="about-list">
        <li class="about-list-item">
          <p class="about-item-text">Expert, innovative teaching staff</p>
        </li>
        <li class="about-list-item">
          <p class="about-item-text">Wide range of course levels and options</p>
        </li>
        <li class="about-list-item">
          <p class="about-item-text">Multicultural learning environment</p>
        </li>
        <li class="about-list-item">
          <p class="about-item-text">Comprehensive language support services</p>
        </li>
      </ol>
      <div class="memoji-box">
        <img
          class="emo-picture"
          srcset="
            ../img/about_us/memoji-girl.png    1x,
            ../img/about_us/memoji-girl@2x.png 2x
          "
          src="../img/about_us/memoji-girl.png"
          alt="memoji-girl"
        />
      </div>
    </div>
  </div>
</section>
