<footer>
  <div class="footer-container">
      <!-- Лого та контакти -->
      <div class="footer-logo">
          <h1>english<span style="color: #4DC274;">excellence</span>.</h1>
          <div class="contact-info">
              <p><span class="label">Phone number:</span></p>
              <p><a href="tel:+380684439426" class="phone-number">+380 (68) 443-94-26</a></p>
              <p><span class="label">Address:</span></p>
              <p><a href="https://www.google.com/maps?q=32a+M.+Bazhana+ave" target="_blank" class="address">32a M. Bazhana ave</a></p>
          </div>
      </div>

      <!-- Якірні посилання -->
      <ul class="footer-links">
          <li><a href="#about-us">About us</a></li>
          <li><a href="#our-lessons">Our lessons</a></li>
          <li><a href="#teachers">Teachers</a></li>
          <li><a href="#reviews">Reviews</a></li>
          <li><a href="#contact-us">Contact us</a></li>
      </ul>

      <!-- Соціальні мережі -->
      <ul class="social-links">
          <li><a href="https://www.facebook.com/goITclub/" target="_blank">
              <svg class="icon-team-footer" width="24" height="24">
                  <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
          </a></li>
          <li><a href="https://www.instagram.com/goitclub/" target="_blank">
              <svg class="icon-team-footer" width="24" height="24">
                  <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
          </a></li>
          <li><a href="https://www.youtube.com/c/GoIT" target="_blank">
              <svg class="icon-team-footer" width="24" height="24">
                  <use href="./img/icons.svg#icon-youtube"></use>
              </svg>
          </a></li>
      </ul>
  </div>

  <!-- Копірайт -->
  <div class="footer-bottom">
    <p>©2023 English Excellence. All rights reserved.</p>
    <div class="footer-bottom-links">
      <a href="#privacy-policy">Privacy Policy</a>
      <a href="#terms-of-service">Terms of Service</a>
  </div>
  </div>
</footer>