<header class="container" id="home">
  <div class="header-container">
    <a class="logo" href="#">
      english<span class="">excellence</span>.
    </a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="#about-us">About us</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#our-lessons">Our lessons</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#our-teachers">Teachers</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#reviews">Reviews</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#leave-an-application">Contact us</a>
        </li>
      </ul>
    </nav>
    <ul class="social-meadia-links">
      <li>
        <a href="https://www.facebook.com/goITclub/" target="_blank" rel="noreferrer">
          <svg width="26" height="26">
            <use href="./img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/goitclub/" target="_blank" rel="noreferrer">
          <svg width="26" height="26">
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/c/GoIT" target="_blank" rel="noreferrer">
          <svg width="26" height="26">
            <use href="./img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button class="mobile-menu-btn" type="button" aria-expanded="false" aria-controls="mobile-menu">
      <svg class="mobile-menu-icon" width="32" height="32">
        <use href="../img/sprite.svg#icon-mobile-menu"></use>
      </svg>
    </button>
  </div>
</header>
