<section class="proposal">
  <div class="container proposal-container">
    <p class="proposal-motto">
      Master the <span>Language</span> with Our English Package!
    </p>

    <div class="card-wrapper">
      <div class="proposal-first-card">
        <h2 class="proposal-title">Power of English</h2>
        <div class="proposal-list">
          <ul>
            <li>
              Dive into captivating lessons designed to stimulate your
              curiosity.
            </li>
            <li>
              Learn in a nurturing setting where every student's progress
              matters.
            </li>
            <li>
              Experience the satisfaction of real progress as your language
              skills and confidence grow with every session.
            </li>
          </ul>
        </div>

        <button class="button proposal-button">Leave an application</button>
      </div>
      <div class="proposal-second-card"></div>
      <div class="proposal-third-card"></div>
    </div>
  </div>
</section>
