<section class="reviews section" id="reviews">
  <div class="reviews-container container">
    <h2 class="reviews-title">
      What our <span class="reviewers-underlined-text">students</span> say
    </h2>
    <p class="reviews-subtitle">
      Hear from our students about their learning journey with us, as they share
      their experiences, progress, and the transformative impact
    </p>
    <div
      class="reviews-box wow animate-animated animate-bounceInUp"
      data-wow-duration="1s"
      data-wow-delay="0.3s"
    >
      <ul class="reviews-list">
        <li class="reviews-item">
          <div class="reviews-wrapper">
            <picture>
              <source
                srcset="
                  ./img/reviewers/student-anna.png    1x,
                  ./img/reviewers/student-anna@2x.png 2x
                "
              />
              <img
                class="reviews-image"
                src="./img/reviewers/student-anna.png"
                alt="student photo"
                width="50"
                height="50"
              />
            </picture>
            <div class="reviews-wrapp">
              <h3 class="reviews-headline">Anna</h3>
              <p class="reviews-desc">Student</p>
            </div>
          </div>
          <p class="reviews-text">
            My experience at the language school has been nothing short of
            amazing. The teachers are dedicated and the learning environment is
            stimulating. I feel more confident in my English skills.
          </p>
        </li>
        <li class="reviews-item reviews-hidden-1">
          <div class="reviews-wrapper">
            <picture>
              <source
                srcset="
                  ./img/reviewers/student-mykhailo.png    1x,
                  ./img/reviewers/student-mykhailo@2x.png 2x
                "
              />
              <img
                class="reviews-image"
                src="./img/reviewers/student-mykhailo.png"
                alt="student photo"
                width="50"
                height="50"
              />
            </picture>
            <div class="reviews-wrapp">
              <h3 class="reviews-headline">Mykhailo</h3>
              <p class="reviews-desc">Student</p>
            </div>
          </div>
          <p class="reviews-text">
            The school offers a great balance of language theory and practical
            exercises. The personalized feedback from the teachers has helped me
            improve my weak areas.
          </p>
        </li>
        <li class="reviews-item reviews-hidden-2">
          <div class="reviews-wrapper">
            <picture>
              <source
                srcset="
                  ./img/reviewers/student-victoria.png    1x,
                  ./img/reviewers/student-victoria@2x.png 2x
                "
              />
              <img
                class="reviews-image"
                src="./img/reviewers/student-victoria.png"
                alt="student photo"
                width="50"
                height="50"
              />
            </picture>
            <div class="reviews-wrapp">
              <h3 class="reviews-headline">Victoria</h3>
              <p class="reviews-desc">Student</p>
            </div>
          </div>
          <p class="reviews-text">
            I love the dynamic and interactive teaching methods used here. It's
            a great place to learn English in a fun and effective way. I have
            definitely seen a big improvement in my language skills.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
