:root {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  --black: rgb(18, 20, 23);
  --green: rgba(77, 194, 116, 1);
  --dark-green: rgba(56, 174, 95, 1);
  --green-linear: linear-gradient(85deg, #4DC274 2.25%, #BEE8CC 131.25%);
  --light-green: rgba(212, 253, 225, 1);
  --gray: rgba(243, 245, 246, 1);
  --dark-gray: rgba(18, 20, 23, 0.50);
  --light-gray: rgba(255, 255, 255, 0.60);
  --white: rgba(255, 255, 255, 1);
  --faint-white: rgba(255, 255, 255, 0.10);
  --underline-word: rgba(190, 232, 204, 1);
  --backdrop: rgba(18, 20, 23, 0.40);
  --ANIMATION: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--black);
}

* {
  box-sizing: border-box;
}
