.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: var(--black);
  color: var(--white);
  align-items: flex-start;
}
.footer-all {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: var(--black);
  color: var(--white);
  align-items: flex-start;
}

.footer-title {
  font-size: 20px;
  font-weight: bold;
  color: var(--white);
}

.highlight-text {
  color: var(--green);
}

.contact-info .label {
  font-size: 14px;
  font-weight: 400;
  color: var(--dark-gray);
  margin-bottom: 5px;
  text-transform: none;
}

.contact-info .phone-number {
  font-size: 14px;
  font-weight: 600;
  color: var(--white);
  text-decoration: none;
  text-transform: none;
}

.contact-info .address {
  font-size: 14px;
  font-weight: 600;
  color: var(--white);
  text-decoration: none;
  text-transform: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 30%;
}

.footer-logo h1 {
  font-size: 20px;
  font-weight: bold;
  color: var(--white);
  margin-bottom: 20px;
  text-transform: none;
}

.footer-logo p {
  margin: 10px 0;
  font-size: 20px;
}

.footer-logo p a {
  color: var(--green);
  text-decoration: none;
}

.footer-logo p a:hover {
  text-decoration: underline;
}

.footer-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0;
  padding: 0;
}

.footer-bottom-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  text-align: left;
  margin: 0;
  padding: 0;
}

.footer-bottom-links a {
  color: var(--dark-gray);
  text-decoration: none;
}

.footer-bottom-links a:hover {
  color: var(--dark-gray);
  text-decoration: none;
}

.footer-links li {
  margin: 10px 0;
}

.footer-links li a {
  color: var(--white);
  text-decoration: none;
}

.footer-links li a:hover {
  color:  var(--green);
}

.social-links {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-links li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 2px solid var(--white);
  border-radius: 10px;
  transition: border-color 0.3s ease;
}

.social-links li a:hover {
  border-color: var(--white);
}

.icon-team-footer {
  fill: var(--gray);
  width: 28px;
  height: 28px;
}

.footer-bottom {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 128px 10px 128px;
  background-color: var(--black);
  color: var(--dark-gray);
  font-size: 14px;
}
.footer-bottom::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 128px;
  right: 128px;
  height: 1px;
  background-color: var(--dark-gray);
}

.label, .phone-number, .address {
  font-style: normal;
  font-weight: normal; 
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: left;
    text-align: left;
    padding: 20px;
  }

  .footer-logo {
    align-items: left;
    max-width: 100%;
  }

  .footer-logo h1 {
    font-size: 1.2em;
}

  .footer-links,
  .social-links {
    margin-top: 20px;
    align-items: left;
  }

  
  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    padding: 20px;
}

.footer-bottom p {
    margin-bottom: 20px;
}

.footer-bottom a {
    display: block;
    margin-bottom: 20px;
}


.footer-bottom::before {
  left: 20px;
  right: 20px;
}

.footer-bottom-links {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
}

@media (min-width: 768px) and (max-width: 1280px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
  }

  .footer-logo {
    align-items: flex-start;
    max-width: 40%;
  }

  .footer-links {
    flex-direction: column;
    align-items: flex-start;
  }

  .social-links {
    justify-content: flex-end;
  }

  .footer-bottom {
    padding: 10px 30px;
    justify-content: space-between;
}

.footer-bottom a {
    margin-left: 10px;
}
  .footer-logo h1 {
    font-size: 20px;
}

.footer-bottom::before {
    left: 30px;
    right: 30px;
}
}

@media (min-width: 1280px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 128px;
  }

  .footer-logo {
    align-items: flex-start;
    max-width: 30%;
  }

  .footer-links {
    flex-direction: column;
    align-items: flex-start;
  }

  .social-links {
    justify-content: flex-end;
  }

  .footer-bottom {
    padding: 10px 128px 10px 128px;
    justify-content: space-between;
}

.footer-bottom a {
    margin-left: 20px;
}

.footer-bottom::before {
    left: 128px;
    right: 128px;
}
}