.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-list {
  display: none;
  visibility: hidden;
}

@media only screen and (min-width: 1280px) {
  .header-nav-list {
    display: flex;
    visibility: visible;
    gap: 20px;
  }
}

.header-nav-item {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  color: var(--black);
}

.header-nav-link {
  position: relative;
  display: block;
  transition: color var(--ANIMATION);
}

.header-nav-link::after {
  content: '';
  display: block;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: transparent;
}

.header-nav-link:hover::after,
.header-nav-link:focus::after {
  background: var(--green);
}

header .social-meadia-links {
  display: none;
  visibility: hidden;
}

@media only screen and (min-width: 1280px) {
  header .social-meadia-links {
    display: flex;
    visibility: visible;
  }
}

@media screen and (min-width: 1280px) {
  .mobile-menu-button {
    display: none;
    visibility: hidden;
  }
}

@media only screen and (min-width: 768px) {
  .mobile-menu-icon {
    width: 40px;
    height: 28px;
  }
}
