.hero-section {
    display: flex;
    flex-direction: column;
    background-image: url("./../img/hero/hero.jpeg");
    background-position: 70% 50%;
    border-radius: 16px;
    height: 709px;
}

.hero-arrow-button {
    position: absolute;
}