.teachers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 48px 20px;
}

.teachers-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}


.teachers-caption {
    font-family: Manrope;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.02em;
    text-align: center;    
    margin-bottom: 16px;
}

.teachers-underlined-text {
    position: relative;
  }
  
.teachers-underlined-text::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 20px; 
    background-color: var(--underline-word); 
    bottom: -4px;
    z-index: -1;
    border-radius: 8px;
}

.teachers-text {
    max-width: 709px;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: var(--dark-gray);
}

.teachers-list {
    display: flex;
    max-width: 1024px;
    flex-direction: column;
    row-gap: 20px;
}

.teacher-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 20px;

}

.teacher-photo {
    border-radius: 50%;
}

.teacher-name {
    font-family: Manrope;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.02em;
}

.teachers-description {
    font-family: Manrope;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: var(--dark-gray);
}

@media (min-width: 768px) {

    .teachers {
        margin: 32px 64px;
    }

    .teachers-caption {
        font-size: 40px;
        line-height: 48px;
    }

    .teachers-text {
        font-size: 18px;
        line-height: 30px;
    }

    .teachers-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
    }

    .teacher-card {
        width: calc((100% - 32px)/2);
    }

    .teacher-name {
        font-size: 20px;
        line-height: 24px;
    }
    
    .teachers-description {
        font-size: 16px;
        line-height: 24px;
    }

    .teachers-underlined-text::after {
        bottom: 0px;
    }
    
}


@media (min-width: 1280px) {
    .teacher-card {
        width: calc((100% - (32px)*3)/4);
    }

}