@media screen and (min-width: 1280px) {
    .proposal-container {
        padding: 0 64px;
    }
}

.proposal-content-holder {
    padding: 40px 20px 64px 20px;
    border-radius: 16px;
    background: var(--green-linear);
    position: relative;
    z-index: 1;
}

@media screen and (min-width: 768px) {
    .proposal-content-holder {
        padding: 64px 18px 92px;
    }
}

@media screen and (min-width: 1280px) {
    .proposal-content-holder {
        padding: 64px 64px 141px;
    }
}

.proposal-title {
    color: var(--white);
    font-size: 38px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 65px;
    width: 295px;
}

@media screen and (min-width: 768px) {
    .proposal-title {
        font-size: 60px;
        line-height: 70px;
        width: 640px;
        margin-bottom: 83px;
        padding: 0 14px;
    }
}

@media screen and (min-width: 1280px) {
    .proposal-title {
        width: 776px;
        margin-bottom: 134px;
        padding: 0;
    }
}

.proposal-title span {
    color: var(--underline-word);
}

.proposal-card-holder {
    position: relative;
}

.proposal-card-holder::before,
.proposal-card-holder::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 16px;
    z-index: -1;
}

.proposal-card-holder::before {
    transform: rotate(-9deg);
    background: var(--light-green);
}

.proposal-card-holder::after {
    transform: rotate(11deg);
    background: rgba(255, 255, 255, 0.50);
}

@media screen and (min-width: 768px) {

    .proposal-card-holder::before,
    .proposal-card-holder::after {
        border-radius: 30px;
    }

    .proposal-card-holder::before {
        transform: rotate(-9.864deg);
    }

    .proposal-card-holder::after {
        transform: rotate(10.655deg);
    }
}

@media screen and (min-width: 1280px) {
    .proposal-card-holder::before {
        transform: rotate(-8deg);
    }

    .proposal-card-holder::after {
        transform: rotate(11deg);
    }
}

.proposal-card {
    border-radius: 16px;
    padding: 40px 20px;
    background: var(--white);
}

@media screen and (min-width: 768px) {
    .proposal-card {
        border-radius: 30px;
        padding: 64px 32px;
        position: relative;
    }
}

@media screen and (min-width: 1280px) {
    .proposal-card {
        padding: 64px;
    }
}

.proposal-card-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.4px;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .proposal-card-title {
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -0.8px;
        margin-bottom: 32px;
    }
}

.proposal-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .proposal-list {
        margin-bottom: 32px;
        width: 452px;
    }
}

@media screen and (min-width: 1280px) {
    .proposal-list {
        margin-bottom: 40px;
        width: 654px;
    }
}

.proposal-list li {
    position: relative;
    padding-left: 44px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.28px;
}

@media screen and (min-width: 768px) {
    .proposal-list li {
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.4px;
    }
}

.proposal-list li::before {
    content: "";
    height: 20px;
    width: 20px;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-image: url("../img/check.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (min-width: 768px) {
    .proposal-list li::before {
        height: 28px;
        width: 28px;
    }
}

.proposal-button {
    max-width: 306px;
}

@media screen and (min-width: 768px) {
    .proposal-card::after {
        content: '';
        position: absolute;
        display: block;
        width: 214px;
        height: 264px;
        background: image-set(url('../img/proposal/books.png') 1x, url('../img/proposal/books@2x.png') 2x);
        top: 172px;
        right: -50px;
    }
}

@media screen and (min-width: 1280px) {
    .proposal-card::after {
        top: 132px;
        right: 0;
    }
}
